/* ================ top Section css =================== */

html,
body {
    width: 100%;
    height: 100%;
}



/* Link style
/* ------------------------------ */
a {
    color: rgb(212, 175, 55);
}

    a,
    a > * {
        outline: none;
        cursor: pointer;
        text-decoration: none;
    }

        a:focus,
        a:hover {
            color: rgb(212, 175, 55) !important;
            outline: none;
            text-decoration: none;
        }

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Transition elements
/* ------------------------------ */
a,
.navbar a,
.form-control {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/* ================ Typography ================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400;
    color: #202020;
    margin: 0 0 15px;
}

h1 {
    font-size: 66px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p img {
    margin: 0;
}

p {
    margin: 0 0 30px;
    font-size: 25px;
    font-weight: normal;
    font-family: "Myriad Pro";
    color: rgb(31, 28, 28);
    line-height: 1.47;
    text-align: justify;
}

hr {
    margin: 0;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 45px;
    }

    p,
    label {
        font-size: 18px !important;
    }
}

/* Material Button Style
/* ------------------------------ */
.btn {
    height: 50px;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 26px;
    border-radius: 2px;
    background-color: #d4af37;
    /*brand primary color*/
    border: 0;
}

.btn-lg {
    padding: 12px 38px;
}

.text-white {
    color: #fff !important;
}

.text-primary {
    color: #d4af37;
}

.text-gray {
    color: rgb(167, 167, 167);
    line-height: 1.26;
}

/*button size in extra small devices*/
@media screen and (max-width: 767px) {
    .btn-lg {
        height: auto;
        font-size: 14px;
        padding: 8px 25px;
    }
}

.btn:hover {
    background-color: #d4af37;
    color: #fff !important;
}

.btn.active,
.btn:active {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}


.btn.white,
.btn.white:hover,
.btn.white:focus {
    color: #fff;
}

.btn i.material-icons {
    font-size: 20px;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
}

.btn:focus,
button:focus {
    outline: none !important;
}

/* ================= Global Classes ==================== */
.no-margin {
    margin: 0 !important;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.no-padding {
    padding: 0 !important;
}

.section-padding {
    padding: 0px 0;
}


/*margin top*/
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

/*margin bottom*/
.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mtb-50 {
    margin: 50px 0 !important;
}

/*margin right*/
.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

/*margin left*/
.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}



/*padding-top*/
.padding-top-50 {
    padding-top: 50px;
}

.padding-top-70 {
    padding-top: 70px;
}

.padding-top-90 {
    padding-top: 90px;
}

.padding-top-100 {
    padding-top: 100px;
}

.padding-top-110 {
    padding-top: 110px;
}

.padding-top-120 {
    padding-top: 120px;
}

.padding-top-160 {
    padding-top: 160px;
}

.padding-top-220 {
    padding-top: 220px;
}

@media screen and (max-width: 768px) {
    .padding-top-220 {
        padding-top: 170px;
    }
}



/*padding-bottom*/
.padding-bottom-0 {
    padding-bottom: 0 !important;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-bottom-70 {
    padding-bottom: 70px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-bottom-90 {
    padding-bottom: 90px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.padding-bottom-110 {
    padding-bottom: 110px;
}

.padding-bottom-120 {
    padding-bottom: 120px;
}

.padding-bottom-190 {
    padding-bottom: 190px;
}

.pr-0 {
    padding-right: 0;
}


.pl-0 {
    padding-left: 0;
}

@media screen and (min-width: 992px) {

    /*padding left*/
    .pl-100 {
        padding-left: 100px;
    }

    /*.margin-left-0{
        margin-left: 0;
    }*/
}

/*padding top bottom*/
.ptb-30 {
    padding: 30px 0;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-70 {
    padding: 70px 0;
}

.ptb-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.ptb-110 {
    padding-top: 110px;
    padding-bottom: 110px;
}

.ptb-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.ptb-150 {
    padding: 150px 0;
}

.ptb-190 {
    padding: 190px 0;
}


/* .bg{
    background-image: url('assets/img/bg/bg1.jpg');
    background-size: cover;
    background-position: 0px -30px;
} */

.floating-input.error {
    border-bottom: 1px solid red;
}

.error {
    right: 0;
    color: red;
    left: auto;
    font-size: medium;
}

button[disabled]:hover:before,
button[disabled]:hover:after {
    border: 3px solid #2f2f2f;
    background-color: #2f2f2f;
}

.bg-2 {
    background-image: url('assets/img/bg/bg-2.jpg');
    background-size: cover;
}

.bg-3 {
    background-image: url('assets/img/bg/bg-3.jpg');
    background-size: cover;
}

.bg-4 {
    background-image: url('assets/img/bg/bg-4.jpg');
    background-size: cover;
}

.overlay-2 {
    background-color: #b29434;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-3 {
    background-color: rgb(212, 175, 55);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Margin for small devices*/
@media screen and (max-width: 991px) {

    /*margin top*/
    .mt-sm-30 {
        margin-top: 30px;
    }

    .mt-sm-50 {
        margin-top: 50px;
    }

    /*margin-bottom*/
    .mb-sm-30 {
        margin-bottom: 30px;
    }

    .mb-sm-50 {
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 768px) {
    .section-padding {
        padding: 0px 0;
    }

    .pr-sm-15 {
        padding-right: 15px;
    }

    .pl-sm-15 {
        padding-left: 15px;
    }

    .mt-xs-30 {
        margin-top: 30px;
    }

    .mt-xs-46 {
        margin-top: 46px;
    }
}

/* ================= Banner ==================== */

.job-portal-banner {
    background-image: url('assets/img/banner/banner-2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 650px;
    width: 100%;
}

/*  .banner-content:before{
   content: '';
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: rgb(43, 42, 38);
   opacity: 0.502;
}  */

.overlay-banner {
    background-color: rgb(43, 42, 38);
    opacity: 0.502;
    position: absolute;
    width: 100%;
    height: 650px;
}

.inner-content-body h1 {
    color: rgb(212, 175, 55);
    font-size: 75px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 999;
}

.inner-content-body p {
    font-size: 25px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    line-height: 1.47;
    text-align: center;
}

.vertical-height {
    display: table;
    width: 100%;
    height: 100%
}

.vertical-align {
    vertical-align: middle;
    display: table-cell;
}

.nav-color {
    background: #d4af37;
}

@media screen and (max-width: 768px) {

    /*.banner-1{background-size: center;}*/

    .inner-content-body h1 {
        font-size: 45px;
    }

    .inner-content-body p {
        font-size: 18px;
    }
}

/* =============== Banner Button ================== */
.set_arrow {
    position: absolute;
    top: 104%;
    left: 49%;
}

.learn-more {
    height: 58px;
    width: 200px;
    background-color: #b29434;
    color: white;
    border: 1px solid #3f1f16;
}

/* ========  Heading Section =========== */
.job-text {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: #d4af37;
    font-weight: 900;
}

.font-family {
    font-family: 'Oswald', sans-serif;
}

.font-familys {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.desc-color {
    font-family: 'Myriad-Pro-Regular', sans-serif;
    color: #000000;
}

.mt-60 {
    margin-top: 60px;
}

/* ================ Job List Styling =============== */
.main-panel {
    width: 1017px;
    height: auto;
    margin-left: 10%;
}

/* Section One Styling */


.first-section {
    width: auto;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border: 1px solid #c4c4c4;
    height: auto;
    background: #d4af37;
}

.main-text {
    padding: 4% 3% 1% 3%;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 24px;
}

.cv-text {
    font-size: 41px;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
}

.date-location {
    color: #6c685f;
    font-size: 14px;
}

.job-btn {
    width: 197px;
    height: 57px;
    background: linear-gradient(360deg, #82c449 50%, #82bf4f 50%, #81ce3f 50%);
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    margin-left: 65%;
    margin-top: -7%;
    position: absolute;
    font-size: 22px;
}

/* =========== Second Sectino Styling ================ */
.second-section {
    width: auto;
    border-radius: 0px;
    border: 1px solid #4a4a4a;
    height: auto;
    background: #e5e5e5;
}

.second-text {
    padding: 4% 3% 1% 3%;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 24px;
    color: #ff0006;
}

.disable-btn {
    width: 197px;
    height: 57px;
    background: transparent;
    color: #ff0006;
    border: 2px solid #ff0006;
    border-radius: 25px;
    margin-left: 65%;
    margin-top: -7%;
    position: absolute;
    font-size: 22px;
}

/* ============= Model Styling ================ */
.head-text {
    color: #d4af37;
    font-size: 24px;
}

.heading-text {
    font-weight: 500;
}

.light-font {
    color: #898989;
    font-size: 18px;
    font-family: 'Myriad-Pro-Regular', sans-serif;
}

.p-color {
    margin-top: 2%;
    width: 70%;
    color: #898989;
    font-size: 18px;
    font-family: 'Myriad-Pro-Regular', sans-serif;
}

.modal-loc-date {
    font-size: 18px;
    color: #d4af37;
    font-family: 'Myriad-Pro-Regular', sans-serif;
}

.apply-btn {
    width: 197px;
    height: 50px;
    background: linear-gradient(360deg, #82c449 50%, #82bf4f 50%, #81ce3f 50%);
    color: white;
    border-radius: 25px;
    font-size: 22px;
}

    .apply-btn:hover {
        background: linear-gradient(360deg, #82c449 50%, #82bf4f 50%, #81ce3f 50%);
        color: white !important;
    }

/* =========== Form Styling============== */
.cv-form {
    width: 745px;
    height: auto;
    padding: 5% 3% 3% 3%;
    background-color: #ebebeb;
    border: 1px solid #d4af37;
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 26px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 26px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 26px -12px rgba(0, 0, 0, 0.75);
    margin-left: auto;
    margin-right: auto;
}

.mt-9 {
    margin-top: 4rem;
}



.center {
    justify-content: center;
}

.text-white {
    color: white;
}

/* =============== HexaGone Button Styling ================== */
.btn-upload {
    position: relative;
    display: block;
    background: transparent;
    width: 200px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    margin: 40px auto 0px auto;
    border: none;
}

    .btn-upload:before,
    .btn-upload:after {
        width: 200px;
        left: 0px;
        height: 29px;
        z-index: -1;
    }

.btn-upload {
    color: #fff !important;
    z-index: 999;
}

    /* Button Border Style */
    .btn-upload:before,
    .btn-upload:after {
        border: 1px solid #2f2f2f;
        background-color: #2F2F2F;
    }


    .btn-upload:before {
        position: absolute;
        content: '';
        border-bottom: none;
        -webkit-transform: perspective(15px) rotateX(5deg);
        -moz-transform: perspective(15px) rotateX(5deg);
        transform: perspective(15px) rotateX(5deg);
    }

    .btn-upload:after {
        position: absolute;
        top: 32px;
        content: '';
        border-top: none;
        -webkit-transform: perspective(15px) rotateX(-5deg);
        -moz-transform: perspective(15px) rotateX(-5deg);
        transform: perspective(15px) rotateX(-5deg);
    }

    /* Button Hover Style */

    .btn-upload:hover:before,
    .btn-upload:hover:after {
        background: #d4af37;
    }


    .btn-upload:hover {
        color: #fff;
    }


/* ================= Media Query for I Pad Pro ======================== */
@media screen and (max-width:1024px) {
    .main-panel {
        width: 900px;
        height: auto;
        margin-left: 3%;
    }

    .job-btn {
        width: 197px;
        height: 57px;
        background: #82c24b;
        color: white;
        border: 1px solid white;
        border-radius: 25px;
        margin-left: 68%;
        margin-top: -8%;
        position: absolute;
        font-size: 22px;
    }

    .disable-btn {
        width: 197px;
        height: 57px;
        background: transparent;
        color: #ff0006;
        border: 1px solid #ff0006;
        border-radius: 25px;
        margin-left: 68%;
        margin-top: -8%;
        position: absolute;
        font-size: 22px;
    }

    .cv-form {
        width: 900px;
        height: auto;
        padding: 5% 3% 3% 3%;
    }

    .justify-content-center {
        width: 100%;
        margin-left: 10%;
    }

    .set_arrow {
        position: absolute;
        top: 120%;
        left: 47%;
    }
}

/* ================ Media Queries ================== */
@media screen and (max-width:768px) {
    .main-panel {
        width: 720px;
        height: auto;
        margin-left: 0px;
    }

    .job-btn {
        width: 197px;
        height: 57px;
        background: #82c24b;
        color: white;
        border: 1px solid white;
        border-radius: 25px;
        margin-left: 68%;
        margin-top: -12%;
        position: absolute;
        font-size: 22px;
    }

    .disable-btn {
        width: 197px;
        height: 57px;
        background: transparent;
        color: #ff0006;
        border: 1px solid #ff0006;
        border-radius: 25px;
        margin-left: 67%;
        margin-top: -12%;
        position: absolute;
        font-size: 22px;
    }

    .cv-form {
        width: 710px;
        height: auto;
        justify-content: center;
        padding: 5% 3% 3% 3%;
    }

    .justify-content-center {
        width: 100%;
        margin-left: 10%;
    }

    .job-portal-banner {
        background-image: url('assets/img/banner/banner-2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 650px;
        width: 103%;
    }

    .custom-footer {
        width: 103%;
    }

    .set_arrow {
        position: absolute;
        top: 120%;
        left: 47%;
    }
}

/* Media Query for the I Phone 6/7/8/pluse  414px*/
@media screen and (max-width:414px) {


    .overlay-banner {
        background-color: rgb(43, 42, 38);
        opacity: 0.502;
        position: absolute;
        width: 166%;
        height: 650px;
    }



    .media-text-center {
        width: 100%;
        margin-left: 40%;
    }

    .main-panel {
        width: 704px;
        height: auto;
        margin-left: -20px;
    }

    .job-btn {
        width: 197px;
        height: 57px;
        background: #82c24b;
        color: white;
        border: 1px solid white;
        border-radius: 25px;
        margin-left: 114%;
        margin-top: -19%;
        position: absolute;
        font-size: 22px;
    }

    .disable-btn {
        width: 197px;
        height: 57px;
        background: transparent;
        color: #ff0006;
        border: 1px solid #ff0006;
        border-radius: 25px;
        margin-left: 114%;
        margin-top: -19%;
        position: absolute;
        font-size: 22px;
    }

    .cv-form {
        width: 668px;
        height: auto;
        padding: 5% 3% 3% 3%;
    }

    .justify-content-center {
        width: 100%;
        margin-left: 10%;
    }

    .job-portal-banner {
        background-image: url('assets/img/banner/banner-2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 650px;
        width: 166%;
    }

    .custom-footer {
        width: 166%;
    }

    .set_arrow {
        position: absolute;
        top: 120%;
        left: 47%;
    }

    /*.display {
        display: block;
        margin-top: 34%;
    }*/
}

/* =============== Media Query for the 411px ====================== */
@media screen and (max-width:411px) {
    .media-text-center {
        width: 100%;
        margin-left: 40%;
    }

    .main-panel {
        width: 750px;
        height: auto;
        margin-left: -20px;
    }

    .job-btn {
        width: 197px;
        height: 57px;
        background: #82c24b;
        color: white;
        border: 1px solid white;
        border-radius: 25px;
        margin-left: 127%;
        margin-top: -19%;
        position: absolute;
        font-size: 22px;
    }

    .disable-btn {
        width: 197px;
        height: 57px;
        background: transparent;
        color: #ff0006;
        border: 1px solid #ff0006;
        border-radius: 25px;
        margin-left: 127%;
        margin-top: -19%;
        position: absolute;
        font-size: 22px;
    }

    .cv-form {
        width: 715px;
        height: auto;
        padding: 5% 3% 3% 3%;
    }

    .justify-content-center {
        width: 100%;
        margin-left: 10%;
    }

    .job-portal-banner {
        background-image: url('assets/img/banner/banner-2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 650px;
        width: 179%;
    }

    .custom-footer {
        width: 179%;
    }

    .set_arrow {
        position: absolute;
        top: 120%;
        left: 47%;
    }
}

/* ================ Media Query For the Iphone X  ===================== */
@media screen and (max-width:375px) {
    .media-text-center {
        width: 100%;
        margin-left: 40%;
    }

    .main-panel {
        width: 664px;
        height: auto;
        margin-left: -20px;
    }

    .job-btn {
        width: 197px;
        height: 57px;
        background: #82c24b;
        color: white;
        border: 1px solid white;
        border-radius: 25px;
        margin-left: 114%;
        margin-top: -21%;
        position: absolute;
        font-size: 22px;
    }

    .disable-btn {
        width: 197px;
        height: 57px;
        background: transparent;
        color: #ff0006;
        border: 1px solid #ff0006;
        border-radius: 25px;
        margin-left: 114%;
        margin-top: -21%;
        position: absolute;
        font-size: 22px;
    }

    .cv-form {
        width: 630px;
        height: auto;
        justify-content: center;
        padding: 5% 3% 3% 3%;
    }

    .justify-content-center {
        width: 100%;
        margin-left: 10%;
    }

    .job-portal-banner {
        background-image: url('assets/img/banner/banner-2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 650px;
        width: 175%;
    }

    .custom-footer {
        width: 175%;
    }

    .set_arrow {
        position: absolute;
        top: 120%;
        left: 47%;
    }
}

/* =============== Media Queries for Mobile S-5 ======================= */
@media screen and (max-width:360px) {
    .media-text-center {
        width: 100%;
        margin-left: 40%;
    }

    .main-panel {
        width: 660px;
        height: auto;
        margin-left: -20px;
    }

    .job-btn {
        width: 197px;
        height: 57px;
        background: #82c24b;
        color: white;
        border: 1px solid white;
        border-radius: 25px;
        margin-left: 118%;
        margin-top: -22%;
        position: absolute;
        font-size: 22px;
    }

    .disable-btn {
        width: 197px;
        height: 57px;
        background: transparent;
        color: #ff0006;
        border: 1px solid #ff0006;
        border-radius: 25px;
        margin-left: 118%;
        margin-top: -22%;
        position: absolute;
        font-size: 22px;
    }

    .cv-form {
        width: 635px;
        height: auto;
        justify-content: center;
        padding: 5% 3% 3% 3%;
    }

    .justify-content-center {
        width: 100%;
        margin-left: 10%;
    }

    .job-portal-banner {
        background-image: url('assets/img/banner/banner-2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 650px;
        width: 179%;
    }

    .custom-footer {
        width: 179%;
    }

    .set_arrow {
        position: absolute;
        top: 120%;
        left: 47%;
    }
}

/* ============ Media Query for the 320 ==================== */
@media screen and (max-width:320px) {
    .media-text-center {
        width: 100%;
        margin-left: 40%;
    }

    .main-panel {
        width: 645px;
        height: auto;
        margin-left: -20px;
    }

    .job-btn {
        width: 197px;
        height: 57px;
        background: #82c24b;
        color: white;
        border: 1px solid white;
        border-radius: 25px;
        margin-left: 133%;
        margin-top: -24%;
        position: absolute;
        font-size: 22px;
    }

    .disable-btn {
        width: 197px;
        height: 57px;
        background: transparent;
        color: #ff0006;
        border: 1px solid #ff0006;
        border-radius: 25px;
        margin-left: 133%;
        margin-top: -24%;
        position: absolute;
        font-size: 22px;
    }

    .cv-form {
        width: 600px;
        height: auto;
        justify-content: center;
        padding: 5% 3% 3% 3%;
    }

    .justify-content-center {
        width: 100%;
        margin-left: 14%;
    }

    .job-portal-banner {
        background-image: url('assets/img/banner/banner-2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 650px;
        width: 197%;
    }

    .custom-footer {
        width: 197%;
    }

    .set_arrow {
        position: absolute;
        top: 120%;
        left: 47%;
    }
}





/*============ Chosse file styling ============*/
.inputfile {
    width: 172px;
    height: 47px;
    opacity: 0;
    overflow-y: hidden;
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: -8px;
}

    .inputfile + label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: #d4af37;
        padding: 2%;
        border: 2px solid black;
        border-radius: 25px;
        display: inline-block;
    }

        .inputfile:focus + label,
        .inputfile + label:hover {
            background-color: #d4af37;
        }

    .inputfile + label {
        cursor: pointer; /* "hand" cursor */
    }

/*.inputfile + label * {
            pointer-events: none;
        }*/
.pt-10 {
    padding-top: 10px;
}

textarea {
    resize: none;
}
